.drag-drop-select {
    margin-left: 10px;
    margin-bottom: 30px;
    width: 280px;
}

.custom-card {
    width: 250px;
}

.drag-drop-element {
    cursor: move;
}

.list-wrapper {
    width: 300px;
    display: inline-block;
    vertical-align: top;
}

.puzzle-portion {
    border-style: solid;
    border-width: 1px;
 }