.informations-container {
    margin-bottom: 10px;
}

.row-squares {
    width: 150px;
}

.square {
    height: 50px;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    padding-top: 12px;
    cursor: pointer;
}

.start-new-game-container {
    margin-top: 10px;
}

.select-difficulty {
    width: 200px;
}

.is-human-switch-wrapper {
    margin-bottom: 10px;
}

.informations-container {
    padding-top: 20px;
}

.maching-learning-informations-wrapper {
    margin-top: 20px;
}

.btn-start-machine-learning {
    margin-left: 10px;
}

.move-information-wrapper {
    margin-top: 20px;
}