<div>
  <div class="informations-container">
    <div *ngFor="let player of players">
      <span>Joueur {{player.symbol}} : </span>
      <span *ngIf="player.isHuman">Joueur humain</span>
      <span *ngIf="!player.isHuman">Ordinateur en mode {{player.difficulty.id}} {{player.difficulty.name}}</span>
    </div>
    <span *ngIf="currentPlayer && !winner && !isDrawMatch">
      Prochain joueur : {{currentPlayer.symbol}}
    </span>
    <span *ngIf="winner">
      Gagnant : {{winner.symbol}}
    </span>
    <span *ngIf="isDrawMatch">
      Match nul !
    </span>
  </div>
  <div class="container-fluid">
    <div *ngIf="squares" class="row row-squares">
      <div *ngFor="let square of squares" (click)="squareClick(square)" class="col-4 square">
        {{square.value}}
      </div>
    </div>
  </div>
  <div class="start-new-game-container">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalStartNewGame">
      Commencer une nouvelle partie
    </button>
  </div>
</div>
<div class="modal fade" id="modalStartNewGame" tabindex="-1" role="dialog" aria-labelledby="modalStartNewGameLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalStartNewGameLabel">Nouvelle partie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Voulez-vous commencer une nouvelle partie ?</p>
        <p>La partie en cours sera perdue.</p>
        <div class="row">
          <div *ngFor="let nextGamePlayer of nextGamePlayers;let i = index;" class="col-6">
            <div class="is-human-switch-wrapper">
              <ui-switch [(ngModel)]="nextGamePlayer.isHuman" checkedLabel="Humain" uncheckedLabel="Ordinateur" size="large"
                defaultBgColor="#DADADA"></ui-switch>
            </div>
            <div [hidden]="nextGamePlayer.isHuman">
              <select class="form-control select-difficulty" [(ngModel)]="nextGamePlayer.difficulty">
                <option [value]="difficulty" *ngFor="let difficulty of difficulties"> {{difficulty.name}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="startNewGame()">Oui</button>
      </div>
    </div>
  </div>
</div>